@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* All the constraints and features are from Figma for this Mobile Web Class Task 2 */
body {
  margin: 0;
  padding: 0;
  padding-top: 0;
}

/* Container styles */
.container {
  position: relative;
  width: 375px;
  height: 604px;
  padding: 114px, 24px, 114px, 24px;
  background-image: url('./Images/header-shapes mobile@2x.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

/* Navbar styles */
.navbar {
  /* position: relative; /*
  top: 0; /* Position at the very top */
  width: 375px;
  height: 48px;
  background-color: white;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}

/* Logo styles */
.Logo {
  width: 76px;
  height: auto;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  padding: 13px;
}

/* Button styles */
.Button {
  width: 40px;
  height: 40px;
  top: 4px;
  left: 311px;
  padding: 20px;
  border-radius: 8px;
}

/* Name styles */
.name {
  width: 327px;
  height: 135px;
  padding: 92px 24px 0 24px; /* Adjusted padding */
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

/* Intro styles */
.Intro {
  padding: 0 24px 0 24px; /* Adjusted padding */
  width: 327px;
  height: 146px;
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.Connect {
  color: #7f8cff;
  padding: 2px 24px 0 24px;
  height: 24px;
  gap: 16px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.smicons {
  width: 170.17px;
  height: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.twit {
  width: 19.99px;
  height: 19.96px;
  top: 470px;
  left: 24px;
  padding: 3px;
}

.lin {
  width: 20px;
  height: 20px;
  top: 470px;
  left: 63px;
  padding: 3px;
}

.M {
  width: 20px;
  height: 16px;
  top: 472px;
  left: 103px;
  padding: 3px;
}

.git {
  width: 17.99px;
  height: 20px;
  top: 470px;
  left: 143px;
  padding: 3px;
}

.vict {
  width: 14.17px;
  height: 20px;
  top: 470px;
  left: 180px;
  padding: 3px;
}
